.cellDiv{
    display: flex;
    align-items: center;
    
    justify-content: center;
    height: 50px;
    min-width: 40px;
    width: 50px;
    
    background-image: url(icons8-texture-100.png);
    background-size: contain;

}